[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
pymongo = "*"
sanic-cors = "*"
gunicorn = "*"
sanic-gunicorn = "*"

[requires]
python_version = "3.7"
